.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    min-height: 100vh;
    padding: 10rem 6% 2rem;
    overflow: hidden;
}

.container_img_skills {
    height: 45rem;
}

.container_img_skills img {
    width: 27vw;
    margin-bottom: 3rem;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.about_content {
    width: 85%;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: var(--main_color) 0 0 1rem;
    margin-bottom: 8rem;
}

.about_content h2 {
    text-align: left;
    line-height: 1.2;    
}

.about_content p {
    line-height: 1.3;
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    position: absolute;
    width: 100vw;
    top: 90%;
    /* left: 20%; */
    justify-content: center;
}

.skills h3 {
    font-size: 2.5rem;
    margin-right: 2rem;
    margin-bottom: 0;
}

.icons_container {
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    display: flex;
    position: relative;
    bottom: 2.5rem;
    gap: 1rem;
}

.box_icon {
    position: relative;
}

.box_icon:hover .icon_descripition  {
    /* opacity: 1; */
    top: -25%; 
    transform: translate(-50%, 0%);
    display: block;
}

.icon_descripition {
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    /* opacity: 0;
    transition: opacity 0.5s ease-in-out,
                top 0.5s ease-in-out,
                transform 0.5s ease-in-out; */
    display: none;            
}

.icons_container .react,
.redux,
.javascript ,
.git,
.bootstrap,
.css,
.html,
.github,
.typescript,
.firebase,
.mysql,
.canva,
.vscode {
    display: inline-flex;
    width: 4.5rem;
    height: 4.5rem;
    border: .1rem solid var(--main_color);
    border-radius: 25%;
    /* font-size: 1.6rem; */
    color: var(--main_color);
    margin: 1rem 0 0.8rem;
    padding: 0.4rem;
    transition: .3s ease;
}

.icons_container .react:hover,
.redux:hover,
.typescript:hover,
.javascript:hover,
.mysql:hover,
.git:hover,
.bootstrap:hover,
.css:hover,
.html:hover,
.firebase:hover,
.canva:hover,
.vscode:hover {   
    box-shadow: 0 0 1rem var(--main_color);
    background-color: var(--main_color);
    color: var(--bg_color);
    border: none;
 }

 /* <========== breakpoints ==========> */

 @media (max-width: 991px) {
    .container_img_skills img {
        width: 35vw;
    }
    .about_content {
        width: 400px;
    }

    .skills {
        width: auto;
    }
}

@media (max-width: 768px) {
    .about {
        gap: 6rem
    }

    .about_content {
        width: auto;
    }

    .icons_container {
        bottom: 0.8rem;
    }

    .container_img_skills img {
        width: 40vw;
    }
}

@media (max-width: 650px) {
    .about {
        flex-direction: column-reverse;
        gap: 0;
    }

    .about_content {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .about_content p {
        font-size: 1.9rem;
    }

    .skills {
        flex-direction: column;
        position:static;
        width: 100%;
    }

    .skills h3 {
        text-align: center;
        font-size: 2.7rem;
        margin-bottom: 3rem;
    }

    .container_img_skills {
        height: auto;
    }

    .container_img_skills img {
        display: none;
    }

    .icons_container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* border: 1px var(--main_color) solid; */
        border-radius: 1rem;
        width: auto;
        padding-left: 1rem;
    }

    .icons_container .react,
    .redux,
    .javascript,
    .git,
    .bootstrap,
    .css,
    .html,
    .github,
    .typescript,
    .firebase,
    .mysql,
    .canva,
    .vscode {
        height: 5rem;
        width: 5rem;
        margin-bottom: 1.1rem;
    }
}

@media (max-width: 440px) {
    .about {
        padding: 5rem 3% 2rem;
        max-height: 100vh;
    }
}
 











