.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    min-height: 100vh;
    padding: 10rem 5% 2rem;

}

.container_img_skills {
    height: 45rem;
}

.container_img_skills img {
    width: 27vw;
    margin-bottom: 3rem;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.about_overview {
}

.about_content {
    width: 85%;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: var(--main_color) 0 0 1rem;
    margin-bottom: 8rem;
}

.about_content h2 {
    text-align: left;
    line-height: 1.2;    
}

.skills {
    display: flex;
    position: absolute;
    width: 100vw;
    top: 90%;
    /* left: 20%; */
    justify-content: center;
}

.skills h3 {
    font-size: 2.5rem;
    margin-right: 2rem;
    margin-bottom: 0;
}

.icons_container {
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    display: flex;
    position: relative;
    bottom: 2.5rem;
}

.icons_container .react,
.redux,
.javascript,
.git,
.css,
.html,
.github,
.typescript,
.firebase,
.mysql,
.canva,
.vscode {
    display: inline-flex;
    width: 4.5rem;
    height: 4.5rem;
    border: .1rem solid var(--main_color);
    border-radius: 25%;
    font-size: 1.6rem;
    color: var(--main_color);
    margin: 1rem 1rem 0.8rem 0;
    padding: 0.4rem;
    transition: .3s ease;
}

.icons_container .react:hover,
.redux:hover,
.typescript:hover,
.javascript:hover,
.mysql:hover,
.git:hover,
.css:hover,
.html:hover,
.firebase:hover,
.canva:hover,
.vscode:hover {   
    box-shadow: 0 0 1rem var(--main_color);
    background-color: var(--main_color);
    color: var(--bg_color);
    border: none;
 }
 











