.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 10rem 6% 2rem;
}

.home_content {
    height: 30rem;
}

.home_content h3 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.home_content h1 {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
    position: relative;
}

.home_content .animation_text {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.3rem;
}

.home_content .transparent_text {
    position: relative;
    width: 40rem;
}

.home_content .transparent_text .animation_text {
    margin-bottom: 2rem;
    color: transparent;
    -webkit-text-stroke: .7px var(--main_color);
    background-image: linear-gradient(var(--main_color), var(--main_color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeBgText {
    0%, 
    10%,
    100% {
        background-position: -40rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

.home_content .transparent_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main_color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeCursorText {
    0%, 
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

.social_media {
    display: flex;
}

.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: .2rem solid var(--main_color);
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--main_color);
    margin: 1rem 1.5rem 3rem 0;
    transition: .3s ease;
    position: relative;
}    

.whatsapp_link:hover {
    box-shadow: 0 0 1rem #25D366 ; 
    color: #fff; 
    background: #25D366; 
    border: none;
}

.instagram_link:hover {
    box-shadow: 0 0 1rem #c13584 ;
    color: #fff; 
    background: #C13584;
    border: none;
}

.linkedin_link:hover {
    box-shadow: 0 0 1rem  #2867B2 ;
    color: #fff; 
    background:  #2867B2;
    border: none;
}

.github_link:hover {
    box-shadow: 0 0 1rem  #181717; ;
    color: #fff; 
    background:  #181717;;
    border: none;
}

.btn_box {
    position: relative;
}

.btn_box .btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--main_color);
    border-radius: 4rem;
    border: .2rem solid var(--main_color);
    box-shadow: 0 0 1rem var(--main_color);
    font-size: 1.4rem;
    color: var(--bg_color);
    letter-spacing: .1rem;
    font-weight: 600;
    overflow: hidden;
    transition: .5s ease;
    z-index: 1;
}

.btn_box .btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg_color);
    z-index: -1;
    transition: .5s;
}

.btn_box .btn:hover::before {
    width: 100%;
}

.btn_box .btn:hover {
    box-shadow: none;
    color: var(--main_color);
}

.home_img {
    position: relative;
    position: fixed;
    bottom: -17rem;
    right: 10rem;
}

.home_img img {
    width: 40vw;
    z-index: 2;   
    object-fit: cover;
}

/* <========== breakpoints ==========> */

@media (max-width: 991px) {
    .home_img {
        bottom: -14rem;
        right: 4rem;
    }
    
    .home_img img {
        width: 50vw;
    }

    .home_content {
        height: 50rem;
    }
  }

  @media (max-width: 691px) {
    .home_content {
            height: 70rem;
    }

    .home_img img {
        width: 90vw;
    }

    .home_img {
        bottom: -14rem;
        right: 5rem;
    }
  }

  @media (max-width: 470px) {
    .home_img img {
        width: 88vw;
    }

    .home_img {
        bottom: -14rem;
        right: 4rem;
    }
  }

  @media(max-width: 400px) {
    .home_img {
        bottom: -14rem;
        right: 2.5rem;
    }

    .home_img img {
        width: 90vw;
    }
  }

  





