.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.home_content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.home_content h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.home_content .animation_text {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
}

.home_content .transparent_text {
    position: relative;
    width: 48rem;
}

.home_content .transparent_text .animation_text {
    margin-bottom: 2rem;
    color: transparent;
    -webkit-text-stroke: .7px var(--main_color);
    background-image: linear-gradient(var(--main_color), var(--main_color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeBgText {
    0%, 
    10%,
    100% {
        background-position: -49rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

.home_content .transparent_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main_color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

@keyframes homeCursorText {
    0%, 
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main_color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main_color);
    margin: 1rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social_media a:hover {
    background: var(--main_color);
    color: var(--second_bg_color);
    box-shadow: 0 0 1rem var(--main_color);
}

.home_img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}