.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    /* z-index: 100; */
}

.logo {
    font-size: 2.5rem;
    color: var(--text_color);
    font-weight: 600;
    cursor: default;
}

.logo_span {
    text-shadow: 0 0 1rem var(--main_color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text_color);
    margin-left: 4rem;
    transition: .3s;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover::after,
.navbar a.active {
    color: var(--main_color);
    width: 100%;
}

.navbar a::after {
    content: " ";
    width: 0%;
    height: 0.4rem;
    background: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

