.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text_color);
    font-weight: 600;
    cursor: default;
}

.logo_span {
    text-shadow: 0 0 1rem var(--main_color);
}

.links_list {
    display: flex;
    list-style: none;
}

/* .navbar a { */
.links_list a {
    font-size: 1.7rem;
    color: var(--text_color);
    margin-left: 4rem;
    transition: .3s;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* .navbar a:hover::after,
.navbar a.active { */
.links_list a:hover::after,
.links_list a.active {
    color: var(--main_color);
    width: 100%;
}

/* .navbar a::after { */
.links_list a::after {
    content: " ";
    width: 0%;
    height: 0.3rem;
    background: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
    margin-top: 0.2rem;
}

.icons_container {
    display: flex;
    gap: 1rem;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_darc_light_mode {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.input_darc_light_mode:checked~.moon_icon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

.moon_icon {
    font-size: 2.4rem;
    color: var(--text_color);
    transition: .6s ease;
    transition-delay: .6s;
}

.input_darc_light_mode:checked~.sun_icon {
    transition-delay: .6s;
    transform: scale(1) rotate(360deg);
}

.sun_icon {
    position: absolute;
    font-size: 2.4rem;
    color: var(--text_color);
    transform: scale(0);
    transition: .7s ease;
}

.input_palette_colors {
    position: absolute;
    opacity: 0;
    cursor: pointer;    
}

.palette {
    font-size: 2.4rem;
    color: var(--text_color);            
}

.toggle_palette_theme {
    position: absolute;
    top: 100%;
    text-align: center;
    width: 3.9rem;
    height: 0;
    transition:  .5s ease;
    background-color: #000;
    border: .2rem solid var(--main_color);
}

.palette_open {
    height: 14.1rem;
}

    .ball {
        margin: .2rem 0 ;
        display: inline-block;
        border: none;
        border-radius: 50%;
        height: 2.3rem;
        width: 2.3rem;
        opacity: 0  ;
        transition: .6s ease;
        transform: translateY(-180px);
        cursor: pointer;
    }

    .input_palette_colors:checked ~ .toggle_palette_theme .ball {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--p));
        opacity: 1;
    }

    .ball_0 {
        background-color: #ffb703;
    }

    .ball_1 {
        background-color: #8ecae6;
    }

    .ball_2 {
        background-color: #3a86ff;
    }

    .ball_3 {
        background-color: #eb5e28;
    }

    .ball_4 {
        background: linear-gradient(to right, #0ef 50%, #fff 50%);
    }

    .btn_menu {
        display: none;
    }

    /* <========== breakpoints ==========> */

    @media (max-width: 991px) {
        .header {
            padding: 2rem 3%;
        }
    }

    @media (max-width: 768px) {
        .header::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .1);
            backdrop-filter: blur(50px);
            z-index: -1;
        }

        .btn_menu {
            border: none;
            background: none;
            cursor: pointer;
            display: block;
            height: 3.2rem;
            position: relative;
            width: 2.4rem;
        }

        .btn_menu .bar {
            border-radius: 3px;
            background: var(--main_color);
            display: block;
            height: 3px;
            margin: 5px auto;
            transition: all 0.7s;
            width: 28px;
        }

        .btn_menu .bar:nth-child(2) {
                background: var(--text_color);
        }
          
        .btn_menu.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(405deg);
        }

        .btn_menu.active .bar:nth-child(2) {
            opacity: 0;
        }

        .btn_menu.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-405deg);
        }

        .links_list {
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, .1);
            backdrop-filter: blur(20px);
            border-top: .1rem solid rgba(0, 0, 0, .2);
            overflow: hidden;
            height: 0;
            transition:  .6s ease;
        }

        .links_list.active {
            height: 20rem;
        }

        .links_list li {
            margin: 1.9rem 0 0.8rem;
            text-align: center;
            opacity: 0;
            transition: .3s ease;
            transform: translateY(-50px);
            justify-content: center;
        }

        .links_list li.animation_menu {
            opacity: 1;
            transition-delay: calc(.20s * var(--i));
            transform: translateY(0);
        }
    }
