.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    /* z-index: 100; */
}

.logo {
    font-size: 2.5rem;
    color: var(--text_color);
    font-weight: 600;
    cursor: default;
}

.logo_span {
    text-shadow: 0 0 1rem var(--main_color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text_color);
    margin-left: 4rem;
    transition: .3s;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover::after,
.navbar a.active {
    color: var(--main_color);
    width: 100%;
}

.navbar a::after {
    content: " ";
    width: 0%;
    height: 0.4rem;
    background: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.icons_container {
    display: flex;
    gap: 1rem;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_darc_light_mode {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.input_darc_light_mode:checked~.moon_icon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

.moon_icon {
    font-size: 2.4rem;
    color: var(--text_color);
    transition: .6s ease;
    transition-delay: .6s;
}

.input_darc_light_mode:checked~.sun_icon {
    transition-delay: .6s;
    transform: scale(1) rotate(360deg);
}

.sun_icon {
    position: absolute;
    font-size: 2.4rem;
    color: var(--text_color);
    transform: scale(0);
    transition: .7s ease;
}

.input_palette_colors {
    position: absolute;
    opacity: 0;
    cursor: pointer;    
}

.palette {
    font-size: 2.4rem;
    color: var(--text_color);            
}

.toggle_palette_theme {
    position: absolute;
    top: 100%;
    background: red;
    width: 3.9rem;
    text-align: center;
    height: 0;
    transition:  .5s ease;
}

.toggle_palette_theme.palette_open {
    height: 12rem;
}


