.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text_color);
    font-weight: 600;
    cursor: default;
}

.logo_span {
    text-shadow: 0 0 1rem var(--main_color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text_color);
    margin-left: 4rem;
    transition: .3s;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover::after,
.navbar a.active {
    color: var(--main_color);
    width: 100%;
}

.navbar a::after {
    content: " ";
    width: 0%;
    height: 0.4rem;
    background: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.icons_container {
    display: flex;
    gap: 1rem;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_darc_light_mode {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.input_darc_light_mode:checked~.moon_icon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

.moon_icon {
    font-size: 2.4rem;
    color: var(--text_color);
    transition: .6s ease;
    transition-delay: .6s;
}

.input_darc_light_mode:checked~.sun_icon {
    transition-delay: .6s;
    transform: scale(1) rotate(360deg);
}

.sun_icon {
    position: absolute;
    font-size: 2.4rem;
    color: var(--text_color);
    transform: scale(0);
    transition: .7s ease;
}

.input_palette_colors {
    position: absolute;
    opacity: 0;
    cursor: pointer;    
}

.palette {
    font-size: 2.4rem;
    color: var(--text_color);            
}

.toggle_palette_theme {
    position: absolute;
    top: 100%;
    text-align: center;
    width: 3.9rem;
    height: 0;
    transition:  .5s ease;
    background-color: #000;
    border: .2rem solid var(--main_color);
}

.palette_open {
    height: 14.1rem;
}

    .ball {
        margin: .2rem 0 ;
        display: inline-block;
        border: none;
        border-radius: 50%;
        height: 2.3rem;
        width: 2.3rem;
        opacity: 0;
        transition: .6s ease;
        transform: translateY(-180px);
        cursor: pointer;
    }

    .input_palette_colors:checked ~ .toggle_palette_theme .ball {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--p));
        opacity: 1;
    }

    .ball_0 {
        background-color: #ffb703;
    }

    .ball_1 {
        background-color: #8ecae6;
    }

    .ball_2 {
        background-color: #3a86ff;
    }

    .ball_3 {
        background-color: #eb5e28;
    }

    .ball_4 {
        background: linear-gradient(to right, #0ef 50%, #fff 50%);
    }


