@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: .1rem;
  list-style: none;

}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

:root {
  --bg_color: #1f242d;
  --second_bg_color:#323946;
  --text_color: #ededed;
  --main_color: #0ef;
  --placeholder_color: rgba(255, 255, 255, .3); 
}

 .light_mode {
   --bg_color: #f0f3fd;  
   --text_color: #020617; 
   --second_bg_color: #cbd5e1 ;
   --main_color: #dc2626; 
   --placeholder_color: #808080; 
   transition: 1.5s;
}
     
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--bg_color);
  color: var(--text_color);
}

span {
  color: var(--main_color);   
}

p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-size: 4rem;
}

/* CONTACT STYLE */
#name {
  opacity: 0;
  animation: inputLeft .8s ease-in-out .3s 1 forwards;
}

#phone {
  opacity: 0;
  animation: inputLeft .8s ease-in-out .6s 1 forwards;
}

@keyframes inputLeft {
  from {
      opacity: 0;
      transform: translate(-100px, 0);
      filter: blur(33px);
  }

  to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

#email {
  opacity: 0;
  animation: inputRight .8s ease-in-out .3s 1 forwards;
}

#subject {
  opacity: 0;
  animation: inputRight .8s ease-in-out .6s 1 forwards;
}

@keyframes inputRight {
  from {
      opacity: 0;
      transform: translate(100px, 0);
      filter: blur(33px);
  }

  to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

#message {
  opacity: 0;
  animation: textarea .8s ease-in-out .9s 1 forwards;
}

@keyframes textarea {
  from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}








