@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  /* font-family: 'Montserrat', sans-serif;   */
  font-family: 'Orbitron', sans-serif;
}

:root {
  --bg_color: #1f242d;
  --second_bg_color:#323946;
  --text_color: #fff;
  --main_color: #0ef;
}

 .light_mode {
   --bg_color: #f0f3fd;  
   --text_color: #020617; 
   --second_bg_color: #cbd5e1 ;
   --main_color: #dc2626; 
   transition: 1.5s;
}
     
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg_color);
  color: var(--text_color);
}

section {
  min-height: 100vh;
  padding: 10rem 6% 2rem;
}

span {
  color: var(--main_color);   
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}






