*,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
}

.portfolio {
  max-width: 1400px;
  max-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 4rem;
  width: 100%;
}

.portfolio .heading {
  animation: animate 0.8s ease-in-out 1 forwards;
  font-size: 3.5rem;
  margin: 10rem 0 3rem;
  opacity: 0;
  text-align: center;
  font-weight: bold;
}

.portfolio .portfolio_container {
  border-radius: 2rem;
  display: flex;
  height: 360px;
  width: 100%;
}

.item_slide {
  border-radius: 2rem;
  height: 360px;
  object-fit: cover;
  width: 100%;
}

.portfolio_container .portfolio_content {
  align-items: center;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  position: absolute;
  display: flex;
  display: none;
  flex-direction: column;
  height: 360px;
  justify-content: center;
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}

.portfolio_container:hover .portfolio_content {
  display: block;
  transition: all 1s ease;
}

.portfolio_content .name {
  animation: animate 0.8s ease-in-out 1 forwards;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  opacity: 0;
  padding-top: 0.8rem;
  text-transform: uppercase;
}

.portfolio_content .description {
  animation: animate 0.8s ease-in-out 0.3s 1 forwards;
  color: #fff;
  line-height: 2rem;
  font-size: 1.3rem;
  margin: 0.4rem 0 0.8rem;
  opacity: 0;
}

.portfolio_content h3 {
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.portfolio_content .technologies {
  animation: animate 0.8s ease-in-out 0.6s 1 forwards;
  color: #fff;
  margin-bottom: 0.7rem;
  opacity: 0;
}

.technologies ul li {
  border-radius: 0.5rem;
  display: inline flex;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0rem;
  margin-right: 0.3rem;
  padding: 0.5rem;
}

.technologies ul li:hover {
  background-color: #000000;
  border: none;
  transition: 0.3s;
}

.portfolio_content .links {
  animation: animate 0.8s ease-in-out 0.9s 1 forwards;
  display: flex;
  gap: 1rem;
  justify-content: center;
  opacity: 0;
  position: relative;
}

.portfolio_content .links .link {
  background: transparent;
  border-radius: 0.5rem;
  border: none;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  overflow: hidden;
  padding: 6px 16px;
  position: relative;
  transition: 0.5s ease;
  z-index: 1;
}

.portfolio_content .links .link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.links .link::before {
  background: #000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: -1;
}

.portfolio_content .links .link:hover::before {
  width: 100%;
}

@keyframes animate {
  from {
    filter: blur(33px);
    opacity: 0;
    transform: translate(0, 100px);
  }

  to {
    filter: blur(0);
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 580px) {
  .portfolio {
    padding: 0 2%;
  }

  .portfolio .heading {
    margin: 17rem 0 4rem;
  }

  .portfolio_content .description {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  .portfolio_content .technologies h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .technologies ul li {
    font-size: 1.5rem;
  }

  .portfolio_content .links .link {
    font-size: 1.5rem;
  }
}
