*,
 *::before,
 *::after {
   box-sizing: border-box;
   list-style-type: none;
 }

 .container {
    width: 100%;
    max-width: 1400px;
    max-height: 100vh;
    margin: 0 auto;
    padding: 0 4rem;
    overflow: hidden;
}

.container .heading  {
    margin: 10rem 0 3rem;
    text-align: center;
    font-size: 3.5rem;
    opacity: 0;
    animation: animate .8s ease-in-out  1 forwards;
}

.container .portfolio_container {
    border-radius: 2rem;
    display: flex;
    width: 100%;
    height: 360px;
}

.item_slide {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 2rem;
}

.portfolio_container .portfolio_content {
    position: absolute;
    width: 100%;
    height: 360px;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(50px); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: none;
    padding: 0 1rem;
}

.portfolio_container:hover .portfolio_content {
    transition: all 1s ease;
    display: block;
}

.portfolio_content .name {
    padding-top: 1rem;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    letter-spacing: .1rem;
    animation: animate .8s ease-in-out  1 forwards;
}

.portfolio_content .description {
    color: #ffffff; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: animate .8s ease-in-out .3s 1 forwards;
    line-height: 2rem;
}
  
.portfolio_content h3 {
    margin-bottom: .6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
  
.portfolio_content .technologies {
    opacity: 0;
    animation: animate .8s ease-in-out .6s 1 forwards;
    color: #fff;
}
  
.technologies ul li {
    display: inline flex;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
    padding: .5rem;
    background-color:#666666;
    border-radius: .5rem;
    letter-spacing: .1rem;
}
  
.portfolio_content .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    opacity: 0;
    animation: animate .8s ease-in-out .9s 1 forwards;
    
  
    position: relative;
    
}
  
.portfolio_content .links .link {
    cursor: pointer;
    padding: 8px 18px;
    position: relative;
    display: inline-block;
    background: transparent;
    border-radius: .5rem;
    border: #fff solid .2rem;
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    overflow: hidden;
    transition: .5s ease;
    z-index: 1;
} 

.links .link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #666666;
    z-index: -1;
    transition: .5s;
}

.portfolio_content .links .link:hover::before {
    width: 100%;
}
  

.portfolio_content .links .link:hover {
    box-shadow: none;
    color: #fff;
    border: none;
    box-shadow: 0 0 1rem #666666;
}
    
@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
           filter: blur(33px);
    }
  
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

@media (max-width: 580px) {
    .container {
        padding: 0 2%;
    }

   .container .heading {
        margin: 17rem 0 8rem;        
    }

    .portfolio_content .description {
        font-size: 1.9rem;
    }

    .portfolio_content .technologies h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .technologies ul li{
        font-size: 1.5rem;
    }

    .portfolio_content .links .link {
        font-size: 1.5rem;
    }
}












