 .animation-cards {
  animation: animate .8s ease-in-out .3s 1 forwards;
  opacity: 0;
}

@keyframes animate {
  from {
      filter: blur(33px);
      opacity: 0;
      transform: translate(0, 100px);
  }

  to {
      opacity: 1;
      filter: blur(0);
      transform: translate(0);
  }
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #fff; 
  height: 10px;
  width: 10px; 
}

.swiper-button-next::after {
  color: var(--main_color);
  font-weight: bold;
}

.swiper-button-prev::after {
  color: var(--main_color);
  font-weight: bold;
}

.teste {
  background: #666666;
  border-radius: 2rem;
  display: flex;
  display: flex;
  height: 1000px;
  justify-content: space-between;
  width: 1000px;
}



