 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style-type: none;
 }
 
 .container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  /* padding: 0 2%; */
}

.heading {
  margin: 10rem 0 3rem;
  text-align: center;
  font-size: 3.5rem;
}

.item_slide {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 2rem;
} 

.container .portfolio_container {
  border-radius: 2rem;
  display: flex;
  width: 100%;
  height: 360px;
} 

.portfolio_container .portfolio_content {
  position: absolute;
  width: 100%;
  height: 360px;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(50px); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: none;
  padding: 0 2rem;
}

.portfolio_container:hover .portfolio_content {
  transition: all 1s ease;
  display: block;
}

.portfolio_content .name {
  padding-top: 2.5rem;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  letter-spacing: .1rem;
  animation: animate .8s ease-in-out  1 forwards;
}

.portfolio_content .description {
  color: #ffffff; 
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  animation: animate .8s ease-in-out .3s 1 forwards;
  line-height: 2rem;
}


.portfolio_content h3 {
  margin-bottom: .6rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  
}

.portfolio_content .technologies {
  animation: animate .8s ease-in-out .6s 1 forwards;
  opacity: 0;
}

.technologies ul li {
  display: inline flex;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
  padding: .5rem;
  background-color:#666666;
  border-radius: .5rem;
  letter-spacing: .1rem;
}

.portfolio_content .links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  animation: animate .8s ease-in-out .9s 1 forwards;
}

.portfolio_content .links .link {
  padding: 10px 20px;
  border: #ffffff solid .1rem;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  transition: .3s;
  letter-spacing: .1rem;
} 

.portfolio_content .links .link:hover {
  background:  #666666;
  color: #fff;
  font-weight: bold;
} 

@keyframes animate {
  from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to {
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px; 
  height: 10px;
  background-color: #fff; 
}

.swiper-button-next::after {
  color: var(--main_color);
  font-weight: bold;
}

.swiper-button-prev::after {
  color: var(--main_color);
  font-weight: bold;
}

  /* .slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}  */

/*.swiper-button-next,
.swiper-button-next {
  margin: 0 15rem;
}

.slider-controler .swiper-button-next {
  left: 58% ;
  transform: translateX(-58%) ;
}

.slider-controler .slider-arrow {
  background: var(--text_color);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

 .slider-controler .slider-arrow::after {
  content: '';
}  */



/* <========== breakpoints ==========> */

/* @media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 50%;
     transform: translateX(-50%) ;
  }

  .slider-controler .swiper-button-prev {
    left: 32%;
    transform: translateX(-50%);
  }
}

 @media (max-width: 600px) {
  .heading {
    margin: 3rem 0;
  }

  .swiper-button-next, 
  .swiper-button-prev {
      margin: 0 auto; 
  }
    
    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .swiper-pagination .swiper-pagination-bullet {
      margin-right: 2rem;
    }
  
    .swiper-pagination .swiper-pagination-bullet.active {
      margin-left: 2rem;
    }
}

@media (max-width: 480px) {
  .slider-controler .swiper-button-next {
    left: 60% ;
    transform: translateX(-90%);
  }

  .slider-controler .swiper-button-prev {
    left: 25%;
    transform: translateX(-10%);
  }
} */






















/* .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    background: transparent;
}

.container .slide .item {
    width: 150px;
    height: 230px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 2rem;
    box-shadow: 0 3rem 5rem;
    background-position: 50% 50%;
    background-size: cover; 
    display: inline-block;
    transition: all 1s ease;
}

.container .slide .item.active {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(1) {
    left: calc(50% + 180px);    
}

.slide .item:nth-child(2) { 
    left: calc(50% + 360px);
}

.slide .item:nth-child(3) {
    left: calc(50% + 540px);
}   

.slide .item:nth-child(4) { 
     left: calc(50% + 720spx);
}

.slide .item:nth-child(5) {
     left: calc(50% + 900px); 
}  

aqui n = 0, 1, 2, 3,...
.slide .item:nth-child(n + 6) {
    left: calc(50% + 1080px); 
    opacity: 0;
}  

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    transform: translate(0, -50%);
    display: none;
}

.slide .item:nth-child(2) .content {
    display: block;
}

.item.active .content {
    display: block;
}

.content .name {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out  1 forwards;
}

.content .description {
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: animate 1s ease-in-out .3s 1 forwards;
}

.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out .6s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.navigate {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2rem;
    z-index: 2;
}

.navigate button {
    width: 4rem;
    height: 3.5rem;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
    margin: 0 .5rem;
    border: .1rem solid #000;
    transition: .3s;
}

.navigate button:hover {
    background: #ababab;
    color: #fff;
} */

